In [1]:
import json
import collections
import argparse
import random
import numpy as np

from util import *

In [2]:
'__li__'.strip()

'__li__'

In [10]:
d = {'a':1, 'b':2}
da = dict()
da.get('s', 0)

0

In [18]:
dd = dict()
len(dd)

0

In [13]:
def increment(v1, v2, scale):
    """Update v1 to v1 + scale * v2.
    Note that v1 is updated in place.
    Parameters:
        v1 : dict
            feature (str) to value (float)
        v2 : same type as v1
        scale : float
    Returns:
        None
    """
    for f, v in v2.items():
        v1[f] = v1.get(f, 0) + scale * v

In [19]:
increment(dd, d, 1)

In [20]:
dd

{'a': 1, 'b': 2}

In [21]:
import pandas as pd
f = pd.read_json('data/train.json')
f.head()

,gold_label,sentence1,sentence2
0,0,"[A, man, with, a, jacket, and, red, shirt, sit...","[The, man, is, eating, a, sandwich, .]"
1,1,"[A, child, in, a, purple, shirt, stares, over,...","[A, child, is, holding, a, railing, .]"
2,1,"[A, man, is, looking, out, through, wooden, ba...","[A, guy, is, staring, between, an, object, .]"
3,1,"[A, man, in, a, black, NFL, jersey, holds, a, ...","[A, man, holds, several, PS3, games, .]"
4,1,"[A, Blond, woman, in, a, pink, turtleneck, jum...","[A, woman, is, bungee, jumping, .]"

In [28]:
f.iloc[0,1]

['A',
 'man',
 'with',
 'a',
 'jacket',
 'and',
 'red',
 'shirt',
 'sits',
 'at',
 'a',
 'park',
 'bench',
 'as',
 'a',
 'dog',
 'with',
 'a',
 'plaid',
 'jacket',
 'stands',
 'near',
 '.']

In [27]:
f.iloc[0,2]

['The', 'man', 'is', 'eating', 'a', 'sandwich', '.']